<div class="wrapper">
    <app-sidebar style="background: white;"></app-sidebar>
    <div class="main">
        <!-- <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav> -->
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        Registrar Venta
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/ventas']">Ventas</a></li>
                            <li class="breadcrumb-item"><a>Registrar Venta</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">

                    <div class="col-12 col-xl-12 form-group">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Datos de la Venta</h5>
                            </div>
                            <div class="card-body">
                                <form #ventaForm="ngForm" (ngSubmit)="onSubmit(ventaForm)">
                                    <div class="row">
                                        <div class="col-lg-4 form-group">
                                            <label><b>Trabajador</b></label>
                                            <input type="text" class="form-control" readonly
                                                value="{{identity.nombres}} {{identity.apellidos}}">
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label><b>Clientes</b></label>
                                            <select name="" class="form-control" #idcliente="ngModel" name="idcliente"
                                                [(ngModel)]="venta.idcliente">
                                                <!-- <option value="">SELECCIONAR</option> -->
                                                <option value="{{item._id}}" *ngFor="let item of clientes">
                                                    {{item.nombres}}</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 form-group text-center">

                                            <a [routerLink]="['/cliente/registrar']" class="btn btn-primary">Nuevo
                                                cliente</a>
                                        </div>
                                        <div class="col-lg-2 form-group text-center">
                                            <div>
                                                <button type="submit" class="btn btn-primary">Registrar venta</button>
                                            </div>
                                            <div>
                                                <b> Pago en: </b>
                                                <select name="" class="form-control" #tipo_pago="ngModel"
                                                    name="tipo_pago" [(ngModel)]="venta.tipo_pago">
                                                    <!-- <option value="">SELECCIONAR</option> -->
                                                    <option [value]="item.id" *ngFor="let item of tipos_pago">
                                                        {{item.name}}</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-12" *ngIf="error_message">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div class="alert-message">
                                {{error_message}}
                            </div>

                            <button type="button" (click)="close_alert()" class="close" data-dismiss="alert"
                                aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-12 col-xl-12 form-group">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Detalles de la venta</h5>
                            </div>
                            <div class="card-body">
                                <div class="col-12" style="text-align: center; padding-bottom: 16px;" *ngIf="isLoading">
                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                    Cargando los productos
                                </div>
                                <form #detalleForm="ngForm" (ngSubmit)="save_detalle(detalleForm)">
                                    <div class="row">
                                        <div class="col-lg-4 form-group">
                                            <label for=""><b>Productos</b></label>

                                            <input aria-label="State" [matAutocomplete]="open" class="form-control"
                                                [formControl]="controlFind">

                                            <mat-autocomplete #open="matAutocomplete"
                                                [displayWith]="compareObjectSelect"
                                                (optionSelected)="setDataProduct($event)">
                                                <mat-option *ngFor="let option of filteredProducts | async"
                                                    [value]="option" [disabled]="option.stock == 0"
                                                    matTooltip="{{option.titulo}}">
                                                    <!-- <img class="example-option-img" aria-hidden [src]="state.flag" height="25"> -->
                                                    <span>{{option.identificador}} | {{option.titulo}} {{option.stock ==
                                                        0 ? 'Sin Stock :(' : ''}}</span>
                                                    <!-- <small>Population: {{state.population}}</small> -->

                                                </mat-option>
                                            </mat-autocomplete>

                                        </div>

                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Stock actual</b></label>
                                            <input type="text" readonly class="form-control"
                                                value="{{(producto) ? producto.stock : '--|--'}}">
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Cantidad</b></label>
                                            <input type="text" #cantidad="ngModel" name="cantidad"
                                                [(ngModel)]="detalle.cantidad" class="form-control">
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <label><b>*</b></label>
                                            <button class="btn btn-primary btn-block" type="submit"
                                                [disabled]="!detalle.cantidad">Agregar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Productos</h5>
                            </div>
                            <table class="table table-striped table-hover table-sm">
                                <thead>
                                    <th style="width: 11%;">Eliminar</th>
                                    <th style="width: 12%;">Identificador</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>

                                </thead>
                                <tbody *ngFor="let item of data_detalle; let idx = index">
                                    <td class="td-table-styles"><button class="btn btn-danger btn-sm"
                                            (click)="eliminar(idx)"><i class="fas fa-trash"></i></button></td>
                                    <td class="td-table-styles">{{item.identificador}}</td>
                                    <td class="td-table-styles" matTooltip="Precio de compra: {{item.precio_compra }}">
                                        <img style="cursor: pointer;" (click)="imagen_view = item.imagenes[0].imagen;"
                                            data-toggle="modal" data-target="#modal-ver-imagen"
                                            [src]="(item.imagenes && item.imagenes[0]) ? item.imagenes[0].imagen : 'No Existe :('"
                                            width="48" height="48" class="rounded-circle mr-2"
                                            alt="Avatar">{{item.producto}}
                                    </td>
                                    <td class="td-table-styles">
                                        <i style="color: rgb(240, 164, 8);"
                                            *ngIf="item.precio_compra >= item.precio_venta"
                                            matTooltip="El precio de venta es menor al precio de compra"
                                            class="align-middle mr-2 fas fa-fw fa-exclamation-triangle"></i>
                                        <input style="width: auto; display: inline;" type="number"
                                            matTooltip="Precio Sugerido: {{item.precio_venta_original}}"
                                            #valor="ngModel" name="valor" [(ngModel)]="data_detalle[idx].precio_venta"
                                            class="form-control">
                                    </td>
                                    <td class="td-table-styles" style="padding-left: 1%;">{{item.cantidad | number}}
                                    </td>
                                    <td class="td-table-styles">{{((item.precio_venta) * (item.cantidad)) | number}}
                                    </td>
                                </tbody>
                                <tfoot>
                                    <td><b>Total</b></td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{(getTotal()) | number}}</td>
                                </tfoot>
                            </table>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Comentarios (Opcionales)</h5>
                            </div>
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <textarea class="form-control" matInput [(ngModel)]="comentarios"
                                        placeholder="Ex. Se pago 50 mil y se deben 10 mil"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!--MODAL VER IMAGEN-->
                <div class="modal fade" id="modal-ver-imagen" tabindex="-1" role="dialog" style="display: none;"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title w-100" id="exampleModalLabel">
                                    Imagen
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body m-3 text-center">
                                <img style="cursor: pointer; width: 100%; max-width: 1363px;"
                                    [src]="(imagen_view && imagen_view != '') ? imagen_view : 'No Existe :(' "
                                    alt="Cargando..." >
                            </div>
                        </div>
                    </div>
                </div>
                <!--MODAL VER IMAGEN-->
            </div>
        </main>

    </div>
</div>